.main-view {
  text-align: center;
}

.main-view__logo {

  height: 80px;
}

.main-view__header {
  background-color: #000;
  height: 170px;
  padding: 20px;
  color: white;
}
.main-view__footer {
	background-color: #fff;
	

}

.links{
	color: white;
}